################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RESTAPI_starter/.vs/RESTAPI_starter/FileContentIndex
/RESTAPI_starter/.vs/RESTAPI_starter/FileContentIndex/daa7a49e-c046-46ec-9547-3c057873db82.vsidx
/RESTAPI_starter/.vs/RESTAPI_starter/v17/.suo
